
{% extends "blog/base.html" %}

{% block content %}



    <div class="main"> 
        <!-- left column post -->
        <div class="left-col">
            <p class="side-Trending">Trending</p>
            {% for post in trending_posts %}
            <div class="trending-post">
                <a href="#">
                    <h2 class="trending-headline">{{ post.title }}</h2>
                </a>
                <p class="time-post">2 mins ago</p>
            </div>
            {% endfor %}
        </div>

        <!-- middle column post -->
        <div class="middle-col">
            {% for post in latest_post %}
            <a href="#">
                <h1>{{ post.title}}</h1>
                <div class="article-snippet">
                    <p>{{post.snippet}}</p>
                </div>
            </a>
            <div class="author-name">
                <a href="#">
                    {{ post.author }}
                </a>
                <p>10 Hours ago</p>
            </div>
            <a href="#">
                <img src="{{post.image.url}}" alt="artile-image">
            </a>
            {% endfor %}
        </div>

        <!-- right column post -->
        <div class="right-col">
            {% for post in similar_posts %}
            <div class="blog-post">
                <a class="blog-post-news" href="#">
                    <img class="side-news" src="{{ post.image.url}}" alt="latest">
                    <p>{{post.snippet|truncatewords:20}}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


    <!--- main section -->
    <div class="main-section">

   
        <!-- politics section -->
        <section class="politics">
            <h2><span>Politics</span></h2>

            <div class="politics-card">
                {% for post in trending_posts %}
                    <div class="politics-card-info">
                        <a class="politics-card-snippet" href="#">
                            <img src="{{ post.image.url }}"  alt="image">
                            <h3>{{ post.title }}</h3>
                        </a>
                        <div class="card-info">
                            <a class="author" href="#">
                                <img src="{{ post.image.url }}" alt="author">
                                <p class="author-info">{{ post.author }}</p>
                            </a>
                            <p  class="date">20 Jan 2030</p>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </section>


        <!-- entertainment section -->











    </div>
{% endblock %}